/* Enter your custom styles here */
/* styles.css */

.customCard {
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.customCardHeader {
    background-color: #4285f4;
    color: #ffffff;
    padding: 16px;
}

.customListItems {
    border-bottom: 1px solid #e0e0e0;
    padding: 8px;
}

.customListItems:last-child {
    border-bottom: none;
}

.side-navigation-master {
	width: 320px; /* Adjust the width as needed */
	box-sizing: border-box; /* Include padding and border in the total width */
  }
/* .side-navigation-demo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	max-width: 15rem;
} */
/* .collapsedWidth {
    width: 1px !important;
} */
.customShellBar .sapMBarLeft {
    justify-content: flex-start !important;
}